{% extends 'basic.html' %}
{% block title %}Blogs{% endblock  %}
{% block blogsactive %} active {% endblock blogsactive %}
{% block body %}         
{% load static %}
    {% comment %} <main class="container-fluid"> {% endcomment %}
      <section class="pt-4 container-fluid" style='background-color:#000000'>
        <div class="rounded container" >
          <div class="row">
            <div class="col-12">
              <div class="bg-primary-soft p-4 p-md-5 rounded-3 text-center">
                <h1 class="text-primary">Top Articles </h1>
                <nav class="d-flex justify-content-center" aria-label="breadcrumb">
                  <ol class="breadcrumb breadcrumb-dots m-0">
                    <li class="breadcrumb-item"><a href="{% url 'myhome'%}"><i class="bi bi-house me-1"></i> Home</a></li>
                    <li class="breadcrumb-item active">All post</li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="position-relative pt-0">
        <div class="container p-5">
          <div class="row">
            <!-- Main Post START -->
            <div class="col-12">
              {% for o in obj %}
              <!-- Card item START -->
              <div class="card border rounded-3 up-hover p-4 mb-4">
                <div class="row g-3">
                  <div class="col-lg-5">
                    <!-- Categories -->
                    <a href="#" class="badge text-light bg-primary mb-2"></i>{{o.category}}</a>
                     <!-- Title -->
                    <h2 class="card-title">
                      <a href="/blog/{{o.slug}}" class="btn-link text-reset stretched-link">{{o.title}}</a>
                    </h2>
                    <!-- Author info -->
                    <div class="d-flex align-items-center position-relative mt-3">
                      <div class="avatar me-2">
                        <img class="avatar-img rounded-circle" src="https://pluspng.com/img-png/user-png-icon-young-user-icon-2400.png" width='50px' height='50px' alt="avatar">
                      </div>
                      <div>
                        {% load humanize %}
                        <h5 class="mb-1 mx-2"><a href="#" class="stretched-link text-reset btn-link">{{o.author}}</a></h5>
                        <ul class="nav align-items-center small">
                          <li class="nav-item mx-2 me-3">{{o.pub_date | naturaltime}}</li>
                          <li class="nav-item"><i class="far fa-clock me-1"></i>&nbsp;&nbsp;5 min read</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- Detail -->
                  <div class="col-md-6 col-lg-4">
                    <p>{{o.content|truncatechars:500}} </p>
                  </div>
                  <!-- Image -->
                  <div class="col-md-6 col-lg-3">
                    <img class="rounded-3" src="/media/{{o.img}}" alt="Card image">
                  </div>
                </div>
              </div>
              {% endfor %}
              <!-- Load more -->
              <button type="button" class="btn btn-primary text-center w-25 ">Load more post</button>
            </div>
            <!-- Main Post END -->
          </div> <!-- Row end -->
        </div>
      </section>  
    {% comment %} </main> {% endcomment %}

{% endblock  %}
