{% extends 'basic.html' %}
{% block title %}{% endblock title %}
{% block body %}
<main>
  <section class="bg-dark container-fluid" style="margin-top: -30px;">
        <div class="container pt-4 pb-5 mb-md-4">
          <!-- Breadcrumb-->
          <nav class="pb-4 my-2 " aria-label="Breadcrumb">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item"><a href="{% url 'myhome'%}}">Home</a></li>
              <li class="breadcrumb-item"><a href="{% url 'internhome'%}">Internship</a></li>
              <li class="breadcrumb-item"><a href="job-board-catalog.html">{{pt.posttitle}}</a></li>
            </ol>
          </nav>
        </div>
      </section>
      <section>
        <div class='container'>
          <div class="row">
            <!-- Signle job content-->
            <div class="col-lg-7 position-relative pe-lg-5 mb-5 mb-lg-0" style="z-index: 1025;">
              <div class="d-flex justify-content-between mb-2">
                <h2 class="h3 mb-0">{{pt.posttitle}}</h2>
                <div class="text-end"><span class="badge bg-primary text-light rounded-pill fs-sm mb-2">{{pt.category}}</span>
                  <div class="fs-sm text-muted">2 hours ago</div>
                </div>
              </div>
              <ul class="list-unstyled fs-sm mb-4">
                <li class="mb-2"><a class="d-flex align-items-center text-decoration-none" href="/internship/{{com.slug}}"><i class="fi-external-link me-2"></i><span class="text-decoration-underline"><b>{{pt.firm}}</b></span></a></li>
                <li class="d-flex align-items-center mb-2"><i class="fi-map-pin text-muted me-2"></i><span><b>{{pt.location}}</b></span></li>
                <li class="d-flex align-items-center mb-2"><i class="fi-cash fs-base text-muted me-2"></i><span><b>{{pt.stipend}}</b></span></li>
                <li class="d-flex align-items-center mb-2"><i class="fi-clock text-muted me-2"></i><span class="me-2"><b>{{pt.duration}}</b></span></li>
              </ul>
              <hr class="mb-4">
              <h3 class="h6"><strong>Description:</strong></h3>
              <p>{{pt.desc}}</p>
              <h3 class="h6 pt-2"><strong>Requirements:</strong></h3>
              <p>{{pt.qualification}}</p>
              <h3 class="h6 pt-2"><strong>Company offers:</strong></h3>
              <p>{{pt.benefits}}</p>
              <p class="pt-2 mb-1">Please, send your CV marked “{{pt.post}}” in the subject via e-mail:</p><a class="nav-link-muted fw-bold" href="mailto:contact@example.com">{{com.company_email}}</a>
              <hr class="my-4">
              <div class="btn-group btn-group-lg">
                <button class="btn btn-primary rounded rounded-end-0 ps-4 pe-3" type="button">Apply</button>
                <div class="position-relative border-start border-light zindex-5" style="margin-left: -1px;"></div>
                
              </div>
            </div>
            <!-- Sticky sidebar-->
            <aside class="col-lg-5" style="margin-top: -6rem;">
              <div class="sticky-top" style="padding-top: 6rem;">
                <div class="card shadow-sm mb-3 mb-lg-0">
                  <div class="card-body">
                    <h2 class="h3">Subscribe to our newsletter</h2>
                    <p>Don’t miss any job updates and relevant vacancies info!</p>
                    <form class="form-group rounded-pill mb-3">
                      <div class="input-group"><span class="input-group-text text-muted"><i class="fi-mail text-muted"></i></span>
                        <input class="form-control" type="text" placeholder="Your email">
                      </div>
                      <button class="btn btn-primary rounded my-2 mx-2" type="button">Subscribe</button>
                    </form>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="agree">
                      <label class="form-check-label" for="agree">I agree to receive communications from Finder.</label>
                    </div>
                    <hr class="my-4">
                    <div class="d-flex align-items-end">
                      <div class="fs-lg fw-bold me-3">Like our jobs?<br>Receive vacancies in Telegram</div><a class="btn btn-icon btn-translucent-primary btn-xs rounded-circle" href="#"><i class="fi-telegram"></i></a>
                    </div>
                  </div>
                </div>
                <div class="pt-4 pt-lg-5 ps-4">
                  <h2 class="h3">My last search queries:</h2>
                  <ul class="list-unstyled mb-0">
                    <li class="mb-0"><a class="nav-link d-inline-block fw-normal px-0 py-1" href="#">Accountant</a></li>
                    <li class="mb-0"><a class="nav-link d-inline-block fw-normal px-0 py-1" href="#">Manager</a></li>
                    <li class="mb-0"><a class="nav-link d-inline-block fw-normal px-0 py-1" href="#">Administrator</a></li>
                    <li class="mb-0"><a class="nav-link-muted d-inline-block fw-bold py-1" href="#">Clear all<i class="fi-x fs-xs ms-2"></i></a></li>
                  </ul>
                </div>
              </div>
            </aside>
          </div>
        </div>
      </section>
</main>

{% endblock body %}